body {
  font-family: "Raleway", sans-serif;

  .bg-pink {
    background-color: pink;
  }

  .btn-outline-pink {
    color: magenta;
    border-color: magenta; 
  }

  .btn-outline-pink:hover {
    background-color: magenta; 
    color: white; 
  }

  .pink-font {
    color: pink;
  }
}

/* Hero Section */

#Navbar .img-fluid {
  width: 50px;
}

#Hero-Section {
  background-image: url("../img/bg-hero-1.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: pink;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }

  

}
